<!DOCTYPE html>
<html>
    <head>
    </head>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        CityFeels
                    </div>
                </div>
            </div>
        </nav>
    </body>
        <div class="dashboard container-fluid">
            <div class="row">
                <div class="dashboard-button" link="/rfids">
                    <div class="text-centered">
                        RFIDS
                    </div>
                </div>

                <div class="dashboard-button">
                    <div class="text-centered">
                        Pesquisar
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
