<div class="dashboard container-fluid">
    <div class="row">
        <div class="dashboard-button" link="/rfids">
            <div class="text-centered">
                RFIDS
            </div>
        </div>

        <div class="dashboard-button">
            <div class="text-centered">
                Pesquisar
            </div>
        </div>
    </div>
</div>
